{
  "bracketSpacing": false,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@loopback/.*",
    "@bleco/.*",
    "@loopx/.*",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    }
  ]
}
